 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
}

html, 
body {
  height: 100%;
  width: 100%;
  color: #222;
  overflow-x: hidden;
}	
iframe {
  display: block;
}

/*Navbar*/
.navbar {
  padding: 3px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
	position: relative;
  background-image: url("../images/background/bg1.jpg"); 
  font-weight: bold;
}
#navbarCollapse {
  padding-left: 15px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-nav li {
  padding-right: 25px;
}
.nav-link {
  font-size: 12px !important;
}
.nav,
.navbar-nav,
.navbar-center li a {
  color: white;
}

/*Footer*/
footer {
 	background-color: #333333;
 	background-image: url("../images/background/bg.jpg"); 
 	background-repeat: no-repeat;
 	color: #EAEAED;
 	padding-top: 50px;
}
.vertical-menu a {
  text-align: left;
  background-color: transparent; 
  color: #EAEAED; 
  display: block; 
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13px;
  text-decoration: none; 
  letter-spacing: .2em;
}
.vertical-menu a:hover {
  color: #171717;
  background-color: #EAEAED;
  font-weight: bold;
}
hr {
  border: .5px solid #EAEAED;
}
footer a {
	color: #EAEAED;
}
.footer-copyright {
	font-size: 13px;
 	font-family: 'Hind Siliguri', sans-serif;
}
.footer-title {
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 17px;
}
.footer-text {
	font-family: 'Poppins', sans-serif;
  font-size: 12px;
} 
.footer-alt {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 14px;
}
footer h6 {
  font-size: 12px;
}

/*Socials*/	
.social a {
  font-size: 2em;
  padding: 15px;
}

.fa-facebook {
	color: #3B5998;
}

.fa-twitter {
	color: #00ACED;
}

.fa-instagram {
  color: #517FA4;
}
.fa-youtube {
	color: #BB0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover, 
.fa-youtube:hover {
  color: #EAEAED;
}

/*Intro*/
#intro {
  background-image: url("../images/background/bg.jpg");
  padding: 15px;
}
#intro p,
#title p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-align: justify;
  margin-bottom: 0;
}
#intro h2,
#title h2 {
  font-family: 'Poppins', monospace;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
#intro h2 {
  margin-bottom: 0;
}
#intro hr {
  border: .5px solid #EAEAED;
}
#title {
	background-color: #1E1D1E;
	background-image: url("../images/background/bg1.jpg");
	padding: 15px;	
}
.btn-primary {
  background-color: #F5F5F5;
  border: 1px solid #212121;
  color: black;
  -webkit-transition-duration: 0.5s;
  -webkit-box-shadow: 0px 0px 0 0 #0B0B0B inset , 0px 0px 0 0 #0B0B0B inset;
  font-size: 13px;
}

.btn-primary:hover {
  background-color: #0B0B0B;
  border: 1px solid #F5F5F5;
  -webkit-box-shadow: 50px 0px 0 0 #0B0B0B inset , -50px 0px 0 0 #0B0B0B inset;
}

/*Articles*/
#articles {
	padding: 15px;
  font-size: 12px;
	text-align: justify;
	background-color: #0B0B0B;
}
#articles .featured {
  font-size: 13px;
}
#articles .img-fluid {
	padding-bottom: 10px;
}
.homeArt {
  font-size: 14px;
}

/*Gallery*/
#gallery {
  background-color: #0B0B0B;
  color: #EAEAED;
  padding: 20px 20px;
}
.galleryImg {
  cursor: pointer;
  transition: 0.3s;
  max-width: 100%;
  max-height: 300px;
  overflow: hidden;
  padding: 0px 10px;
}
.galleryImg:hover {
  opacity: 0.7;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 3s;
  animation-name: pulse;
  animation-duration: 3s;
}
#hgallerySec1, 
#hgallerySec2, 
#hgallerySec3, 
#hgallerySec4 {
  padding-bottom: 15px;
}
#centerGallery {
  padding: 0px 0px;
}

/*Modal*/
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); /* Black with opacity */
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#bandImg, 
#caption, 
#artistName {
  -webkit-animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-name: zoomIn;
  animation-duration: 1.5s;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: white;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  color: white;
  padding: 20px 0;
  height: 150px;
}
#artistName {
  font-family: 'Contrail One', cursive;
  font-size: 35px;
  letter-spacing: .5px;
  text-align: center;
  padding: 20px 0;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #f1f1f1;
  text-decoration: none;
  cursor: pointer;
}

/*Title Jumbotron*/
#jumbotron {
  padding: 35px;
  background-image: url("../images/background/jumbotron.jpg");
}
#jumbotron h3 {
  font-family: 'Contrail One', cursive;
}

/*Carousel*/
/*.carousel-inner img .bars {
  width: 100%;
  height: 100%;
}*/
.carousel-inner > .carousel-item img {
  width:100vw;
  height:auto;
}

/*Gallery Page*/
#bandGalleryImg {
  cursor: pointer;
  font-size: 13px;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(90%);
}
#bandGalleryImg:hover {
  max-width: 100%;
  filter: none;
  -webkit-filter: grayscale(0%);
  transition-duration: 1s;
  -webkit-transition: 1s;
}
.text {
  position:relative;
  visibility: hidden;
  bottom: 35px;
  left: 15px;
  font-size: 15px;
  font-family: 'Contrail One', cursive;
}
img:hover + .text {
  visibility: visible;
  padding-bottom: 0px;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeIn;
  animation-duration: 1.5s;
}
#galleryPage {
  background-color: #0B0B0B;
  color: #EAEAED;
  padding: 20px;
  padding-bottom: 0px;
}

/*Gig Page*/
#gig1stSec {
  padding-bottom: 20px;
}
#sched {
  padding: 15px 150px;
  background-color: #0B0B0B;
  color: #EAEAED;
}
/*gallery - upcoming gigs page*/
.gigschedImg1,
.gigschedImg2,
.gigschedImg3,
.gigschedImg4 {
  cursor: pointer;
  transition: 0.3s;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  filter: gray;
  -webkit-filter: grayscale(100%);
}
.gigschedImg1:hover,
.gigschedImg2:hover,
.gigschedImg3:hover,
.gigschedImg4:hover {
  height: auto;
  filter: none;
  -webkit-filter: grayscale(0%);
}
#gig {
  padding: 15px;
  background-color: #0B0B0B;
  color: #EAEAED;
  text-align: justify;
}
#gig h4, .bold {
  font-weight: bold;
}
#gig p, .place {
  font-size: 13px;
}
#gig .place {
  font-weight: bold;
  text-align: right;
  padding-top: 10px;
}
#gigImg2,
#gigImg3,
#gigImg4,
#gigImg5,
#gigImg6 {
  padding-top: 15px;
}

/*Featured Page*/
.banner {
  width: 100vw;
}
#featured {
  padding: 15px;
  text-align: justify;
  background-color: #0B0B0B;
  color: #EAEAED;
}
#featured p {
  padding-top: 15px;
  font-size: 13px;
  text-align: justify;
}
#featured .digitalAcct,
#social-featured {
  text-align: center;
} 
#social-featured a {
  font-size: 1.5em;
  padding: 8px;
}
#featured .fa-spotify, 
#featured .fa-itunes, 
#featured .fa-youtube {
  color: #EAEAED;
}
#featured .fa-spotify:hover {
  color: #1DB954;
}
#featured .fa-itunes:hover {
  color: #B166CC;
}
#featured .fa-youtube:hover {
  color: #BB0000;
}

/*Promos Page*/
#promos {
  padding: 15px;
  background-color: #0B0B0B;
  color: #EAEAED;
}
.banner-homepage {
  width: 100%;
}
.promos-subject {
  font-size: 13px;
}
.promos-alt {
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.1em;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}
.promos-date {
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.1em;
  font-size: 15px;
  font-weight: bold;
  color: #d3d3d3;
  text-align: center;
  margin-bottom: 30px;
}
#label {
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}
.form-control {
  font-size: 13px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /*Title Jumbotron*/
  #jumbotron {
    padding: 25px;
  }
  #jumbotron h3 {
    font-size: 20px;
  }
  /*Intro*/
  #intro p,
  #title p  {
    font-size: 12px;
  }
  #intro h2,
  #title h2 {
    font-family: 'Poppins', monospace;
    font-size: 23px;
    text-align: center;
  }
  #intro h2 {
    margin-bottom: 0;
  }
  #title {
    background-size: cover;
  }
  .btn-primary {
    font-size: 11px;
  }
  /*Articles*/
  #articles {
    padding: 15px;
    font-size: 12px;
    text-align: justify;
    background-color: #0B0B0B;
  }
  #articles .featured {
    font-size: 12px;
  }
  #articles .img-fluid {
    padding-bottom: 10px;
  }
  .homeTitle {
    font-size: 19px;
  }
  #homeTitle {
    padding-top: 15px;
  }
  .homeArt {
    font-size: 12px;
  }
  /*Modal*/
  .modal {
    padding-top: 140px; /* Location of the box */
  } 
  #caption {
    font-size: 12px;
  }
  #artistName {
    font-size: 25px;
  }
  .close {
    font-size: 25px;
    right: 20px;
  }

  /*Gallery*/
  #galleryImg1,
  #galleryImg2,
  #galleryImg4,
  #galleryImg5,
  #galleryImg7,
  #galleryImg8,
  #galleryImg10,
  #galleryImg11,
  #galleryImg13,
  #galleryImg14 {
    padding-bottom: 15px;
  }

  /*Gig Page*/
  #sched {
    padding: 15px 35px;
  }
  .gigschedImg1,
  .gigschedImg2,
  .gigschedImg3 {
    padding-bottom: 15px;
  }
  #gig h4 {
    font-size: 20px;
    padding-top: 10px;
  }
  #gig p, .place {
    font-size: 12px;
  }

  /*Gallery Page*/
  #gallery {
    padding: 15px 15px;
  }
  #galleryPage {
    padding: 15px;
    padding-bottom: 0px;
  }
  .text {
    font-size: 12px;
  }

  /*Featured Page*/
  #featured {
    padding: 15px;
    text-align: justify;
    background-color: #0B0B0B;
    color: #EAEAED;
  }
  #featured p {
    font-size: 12px;
  }
  #featured .digitalAcct,
  #social-featured {
    text-align: center;
  } 
  #social-featured a {
    font-size: 1.5em;
    padding: 8px;
  }
  #featured .fa-spotify, 
  #featured .fa-itunes, 
  #featured .fa-youtube {
    color: #EAEAED;
  }
  #featured .fa-spotify:hover {
    color: #1DB954;
  }
  #featured .fa-itunes:hover {
    color: #B166CC;
  }
  #featured .fa-youtube:hover {
    color: #BB0000;
  }

  /*Footer*/
  footer {
    padding-top: 35px;
  }
  .vertical-menu a {
    font-size: 12px;
    text-align: center;
  }
  .footer-text,
  .footer-alt {
    font-size: 12px;
  }
  .footer-copyright, 
  footer h6 {
    font-size: 11px;
  }
  .footer-title {
    font-size: 15px;
  }
  /*Socials*/ 
  .social a {
    font-size: 25px;
    padding: 10px;
  }

  /*Promos Page*/
  .promos-alt {
    font-size: 19px;
  }
  .promos-date {
    font-size: 14px;
  }
  #label,
  .form-control {
    font-size: 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { ... } 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation: portrait) { ... }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { ... } 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { ... }